html {
	background-color: #696969; 
	background-image:url('medmaploc.png'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
	}
body {
	background-color: white;
	opacity: 0.95;  
	width:85%; 
	margin: 5% auto;
	text-align: justify;
	padding:25px 25px 25px 25px;
	
	}

h1 {
	font-size: 50pt; color: black; font-family: Old Standard TT, serif;
	text-indent:50px; display: block;
	}
h2 {
	font-size: 30pt; color: gray; font-family: Junge, serif;
	text-indent:50px; }
#content {font-size: 12pt;
	color: black;
	font-family: Junge, serif;
	display: block;
	margin: 5% 10% 5% 10%; }
#line-separator {
	height:1px;
	color: black;
	border-bottom:1px solid #313030;
	}